<%= form_with model: @user do |form| %>

  <div>
    <%= form.label t('.token') %><br>
    <%= form.text_field :token %>
  </div>

  <div>
    <%= form.label t('.group')%><br>
    <%= form.text_field :group %><br>
  </div>

  <div>
    <%= form.submit t('.synchronization')%>
  </div>

<% end %>
