<%= form_with model: @user do |form| %>

  <div>
    <%= form.label :token %><br>
    <%= form.text_field :token %>
  </div>

  <div>
    <%= form.label :group%><br>
    <%= form.text_field :group %><br>
  </div>

  <div>
    <%= form.submit 'synchronization'%>
  </div>

<% end %>
