<p><%=t '.title'%> <%= @resource.email %>!</p>

<p><%= t '.body_change' %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t '.body_ignor'%></p>
<p><%=t '.body_warning'%></p>
